
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(background-des2.jpg);
    background-size: cover;
    background-position: center;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: rgb(255, 255, 255);
}


.table_joueur {
    width: 70%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 10px;

}

.joueur {
    font-size: 40px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;

}

.interface_joueur_1 .joueur{
    text-align: left;
}

.interface_joueur_2 .joueur{
    text-align: right;
}

.interface_joueur_1 {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

.interface_joueur_2{
    width: 50%;
    float: right;
    height: 600px;
    padding: 100px;
}

.interface_joueur_2 .scoreTotal{
    margin-left: 300px;
    
}

.interface_joueur_2 .score_hold{
    margin-left: 300px;
}

.scoreTotal {
    text-align: left;
    font-size: 20px;
    color: #ff0000;

}

.faces_de{
    position: absolute;
    width:150px;
    height:150px;
    margin-top: 100px;
    transform: translateX(-50%);
    align-content:center;
}

button{
    position: absolute;
    width: 200px;
    font-size: 20px;
    cursor: pointer;

    align-content:center;

}

.rules{
    margin-top: 25px;
    margin-left: 15%;
}

.newgame{
    margin-top: 25px;
    margin-left: 77%;
}

.lancer{
    margin-top:350px;
    left: 50%;
    transform: translateX(-50%);

}

.ajout_total{
    margin-top: 400px;
    left: 50%;
    transform: translateX(-50%);
}